
* { margin:0; 
    padding:0; }

ul { display: inline-block }

list-style:0; } ul li: a{ text-decoration: 0; font-size: 14px;
padding: 0 20px; color:px; color: black;

text-decoration: color: red;
body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Saguaro_National_Park_-_Flickr_-_Joe_Parks.jpg/272px-Saguaro_National_Park_-_Flickr_-_Joe_Parks.jpg");
}}

