@media (min-width: 800px and max-width: 899 px)
{col-med-1}
.col-med-1 {width: 25%;}

@media( min-width: 900px){
  col-lg-1}
.col-lg-1{width: 30%;}


ul { }
ul li {
  display: inline-block;
  list-style: 0;
}
ul li a {
  text-decoration: 0;
  font-size: 14px;
  font-family: arial;
  padding: 0 20px;
  color: green;
}



.title {
  color: orange;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
}

.desert {
  color: orange;
}

#sidebar {
  color: orange;
  font-weight: bold;
  font-size: 24px;
}

table th {
  color: orange;
}

table td {
  border: 2px solid orange;
  background-color: brown;
}


#navbar {
margin: 50;
padding: 50;
list-style-type: none;
}
#navbar li {
display: inline;
}
#navbar {
margin: 0;
padding: 0;
list-style-type: none;
border: 5px solid #00b300;
border-radius: 10px 5px;
width: 650px;
text-align: center;
background-color: #00b300;
}
#navbar a {
color: #fff;
padding: 5px 10px;
text-decoration: none;
font-weight: bold;
display: inline-block;
width: 100px;
}
#navbar a:hover {
border-radius: 20px 5px;
background-color: #ccffcc;
 }
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
.date {
  background-color: #00b300;
  color: #ccffcc;
  border-radius: 5px 5px;
  margin: 60
}

.wikidesert {
  background-color:  #00b300;
  color: #ccffcc;
  border-radius: 5px 5px;
  
}

.wikidesert1 {
  background-color:  #00b300;
  color: #ccffcc;
  border-radius: 5px 5px;
}




