
.title {
	color: red;
	text-align: center;
}

nav {
	color: yellow;
button	
	padding: 20 0 20 0px;
	margin: 0 20 0 20px;

}
a:hover {
	color: white;
}
.aboutMe {
	color: red;
}

footer {
    color: red;
}


